<!DOCTYPE html>
<html lang="es"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storevo | Crea tu tienda online profesional</title>
    <meta name="description" content="Digitaliza tu negocio. Crea tu tienda virtual en minutos y vende más desde Instagram y WhatsApp.">

    <link rel="stylesheet" th:href="@{/css/app.css}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-slate-900 text-white font-sans antialiased selection:bg-indigo-500 selection:text-white">

<div th:replace="~{components/navbar :: navbar}"></div>

<main layout:fragment="content">
</main>

<div th:replace="~{components/footer :: footer}"></div>

<script th:src="@{/js/landing.js}"></script>
</body>
</html>